p {
  font-family: Lato;
}

ul {
  list-style-type: none;
}

.updateInfo {
  padding-bottom: 40px;
  background: #d0dae2;
  /* height: 500px; */
  /* left: -15px; */
  /* margin: 0px 15px 0px 0px; */
}

.row {
  overflow-x: hidden !important;
}


.btn-location {
  background: #ffffff;
  border: 0.5px solid #d0dae2;
  box-sizing: border-box;
  border-radius: 5px;
  color: #53575b;
  width: 301px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 7px;
}

.info-button {
  margin: 5px;
}

.card-buttons {
  margin-top: 10px;
}

.three-button-card {
  padding-bottom: 35px;
}


.btn-primary {
  color: #4F80E2;
  font-family: Lato;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  background: #FFFFFF;
  border: 1px solid #4F80E2;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #4f80e2;
  font-family: Lato;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.updates-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  padding-top: 20px;
}

.list-group-item {
  background-color: #d0dae2;
  font-family: Lato;
  font-style: normal;
  font-size: 14px;
}

.location-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #53575b;
  text-align: right;
  margin: 0px;
  padding: 10px;
}

.dropdown-item {
  color: #53575b;
}

#dropdownMenuButton {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  height: 46px;
  width: 301px;
  padding:10px;
}

.dropdown-color {
  color: #ffffff !important;
}

.card-title {
  font-family: Lato;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  color: #53575b;
}

.select-toggle{
   position: relative;
   display: inline-block; 
}

.select-toggle::after{
  position: absolute;
  top: 45%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #023F55;
  content: "";
  pointer-events: none;
}

.select-toggle select{
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Laptop */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .updateInfo {
    height: 640px;
  }
}
