<app-navigation name="{{ name }}"></app-navigation>

<div class="row text-center">
  <div class="col-sm-8">

    <!-- Dropdown for location starts-->
     
    <div class="dropdown">
      <span class="location-title">Location</span><br>
  <button class="btn btn-secondary btn-location dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Mumbai<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    <li><a class="dropdown-item" href="#" data-value="Benaluru">Bengaluru</a></li>
    <li><a class="dropdown-item" href="#" data-value="Pune">Pune</a></li>
    <li><a class="dropdown-item" href="#" data-value="Chennai">Chennai</a></li>
  </ul>
</div>
  
  <!-- <label class = "location-title">Location</label><br>
  <select formControlName="cities" id="cities" class="btn btn-secondary btn-location dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <option [ngValue]="undefined" selected>Mumbai</option>
    <option *ngFor="let order of cities; let i = index" [value]="cities[i].id">
      {{cities[i].name}} 
    </option>
  </select> -->
 

<!-- Dropdown for location ends-->

  <div class="row info-button">
  <div class="col-sm-4 card-buttons">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Oxygen Requirements</h5>
        
        <a href="#" class="btn btn-primary btn-block">Oxygen Cylinder</a>
        <a href="#" class="btn btn-primary btn-block">Oxygen Concentrators</a>
        <a href="#" class="btn btn-primary btn-block">Hospital Oxygen Beds</a>
        <a href="#" class="btn btn-primary btn-block">ICU and Ventilator</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 card-buttons">
    <div class="card">
      <div class="card-body three-button-card">
        <h5 class="card-title">Special treatment</h5>
        <a href="#" class="btn btn-primary btn-block">Remidisivir</a>
        <a href="#" class="btn btn-primary btn-block">Tocilizumab</a>
        <a href="#" class="btn btn-primary btn-block">Plasma Centers</a>
        <br>
      </div>
    </div>
  </div>
   <div class="col-sm-4 card-buttons">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Home Treatments</h5>
        <a href="#" class="btn btn-primary btn-block">Home Oxygen Beds</a>
        <a href="#" class="btn btn-primary btn-block">Home ICU Bed set up</a>
        <a href="#" class="btn btn-primary btn-block">Home Quaratine Expertise</a>
        <a href="#" class="btn btn-primary btn-block">Doctors</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 card-buttons">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Labs</h5>
        <a href="#" class="btn btn-primary btn-block">Diagnostic Labs</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 card-buttons">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Food</h5>
        <a href="#" class="btn btn-primary btn-block">Food for Covid</a>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Latest Updates Section -->

  <div class="col-sm-4 updateInfo">
    <h5 class = "updates-title">Latest Updates</h5>
    <div class = "updatesContent">
     <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
    </ul>
    </div>
  </div>
  <!-- Latest Updates Section End-->
</div>
<app-footer></app-footer>
