<app-navigation></app-navigation>
<div class="row text-center">
  <div class="col-sm-9">
    <!-- Dropdown for location starts-->
     
    <!-- <div class="dropdown">
      <span class="location-title">Location</span><br>
  <button class="btn btn-secondary btn-location dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Mumbai<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    <li><a class="dropdown-item" href="#" data-value="Benaluru">Bengaluru</a></li>
    <li><a class="dropdown-item" href="#" data-value="Pune">Pune</a></li>
    <li><a class="dropdown-item" href="#" data-value="Chennai">Chennai</a></li>
  </ul>
</div> -->
  
  <div class="dropdown">
    <label class = "location-title">Location</label><br>
    <div class = "select-toggle">
      <select id="cities" [(ngModel)]="city" (ngModelChange)="getURL()" class="btn btn-location dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
        <option [ngValue]="undefined" [value]="defaultCity" selected>Delhi</option>
        <option class="dropdown-item" *ngFor="let order of cities; let i = index" [value]="cities[i].name">
      {{cities[i].name}} 
        </option>
      </select>
    </div>
  </div>

<!-- Dropdown for location ends-->

  <div class="row info-button">
  <div class="col-sm-4 card-buttons">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Oxygen Requirements</h5>
        
        <a href="{{url_city}}{{gidList[0].gid}}" target="_blank" class="btn btn-primary btn-block">Oxygen Cylinder</a>
        <a href="{{url_city}}{{gidList[1].gid}}" target="_blank" class="btn btn-primary btn-block">Oxygen Concentrators</a>
        <a href="{{url_city}}{{gidList[2].gid}}" target="_blank" class="btn btn-primary btn-block">Hospital Oxygen Beds</a>
        <a href="{{url_city}}{{gidList[3].gid}}" target="_blank" class="btn btn-primary btn-block">ICU and Ventilator</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 card-buttons">
    <div class="card">
      <div class="card-body three-button-card">
        <h5 class="card-title">Special treatment</h5>
        <a href="{{url_city}}{{gidList[4].gid}}" target="_blank" class="btn btn-primary btn-block">Remidisivir</a>
        <a href="{{url_city}}{{gidList[5].gid}}" target="_blank" class="btn btn-primary btn-block">Tocilizumab</a>
        <a href="{{url_city}}{{gidList[6].gid}}" target="_blank" class="btn btn-primary btn-block">Plasma Centers</a>
        <br>
      </div>
    </div>
  </div>
   <div class="col-sm-4 card-buttons">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Home Treatments</h5>
        <a href="{{url_city}}{{gidList[7].gid}}" target="_blank" class="btn btn-primary btn-block">Home Oxygen Beds</a>
        <a href="{{url_city}}{{gidList[8].gid}}}" target="_blank" class="btn btn-primary btn-block">Home ICU Bed set up</a>
        <a href="{{url_city}}{{gidList[9].gid}}" target="_blank" class="btn btn-primary btn-block">Home Quaratine Expertise</a>
        <a href="{{url_city}}{{gidList[10].gid}}" target="_blank" class="btn btn-primary btn-block">Doctors</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 card-buttons">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Labs</h5>
        <a href="{{url_city}}{{gidList[11].gid}}" target="_blank" class="btn btn-primary btn-block">Diagnostic Labs</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 card-buttons">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Food</h5>
        <a href="{{url_city}}{{gidList[12].gid}}" target="_blank" class="btn btn-primary btn-block">Food for Covid</a>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Latest Updates Section -->

  <div class="col-sm-3 updateInfo">
    <h5 class = "updates-title">Latest Updates</h5>
    <div class = "updatesContent">
     <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
    </ul>
    </div>
  </div>

  <!-- Latest Updates Section End-->

</div>
<app-footer></app-footer>